<div class="row">
  <h2>Rekisteröityminen</h2>

  <p>
    Rekisteröitymällä palveluun voit seurata edistymistäsi ja nähdä tilastoja etenemisestäsi.
    Antamaasi sähköpostiosoitetta ei luovuteta eteenpäin ja sitä käytetään vain palvelun toiminnan kannalta
    välttämättömiin tarkoituksiin, kuten salasanan palautukseen ja tärkeiden palvelua koskevien tiedotteiden
    lähettämiseen.
  </p>

  <p>
    Palvelun rekisteriseloste ja käyttöehdot ovat saatavilla <a href="/kayttoehdot">täällä</a>.
  </p>

  <%= form_tag("", method: :post) %>
    <div class="form-group">
      <label for="email">Sähköpostiosoite</label>
      <input type="email" class="form-control" name="email" id="email" maxlength="255" required="required" />
    </div>

    <div class="form-group">
      <label for="username">Käyttäjätunnus</label>
      <input type="username" class="form-control" name="username" id="username" maxlength="50" required="required" />
    </div>

    <div class="form-group">
      <label for="password">Salasana</label>
      <input type="password" class="form-control" name="password" id="password" required="required" />
    </div>

    <button type="submit" class="btn btn-submit">Rekisteröidy</button>
  </form>
</div>
