/*
 * Inline numberplates in CSS.
 */

.np {
  display: inline-block;
  *font-size: 100pt;
  padding-right: 0.1em;
}

// Generic settings for Finnish licence plates
.np-fin {
  color: #000;
  font-weight: 500;

  border-radius: 0.2em;
  border-width: 0.15em;

  font-family: "Trebuchet MS", sans-serif;

  border-color: #000;
  border-style: double;
}

// A normal vehicle licence plate
.np-fin.np-car {
  background-color: #fff;
}

// An EU additional marking for Finnish plates
.np-eu-fin {
  display: inline-block;
  height: 100%;
  width: 0.8em;
  margin-right: 0.1em;

  background: padding-box url(/images/eu-plate.svg) center left no-repeat;
  background-size: cover;
  background-clip: padding-box;
  border-radius: 0.05em 0 0 0.05em;
}

// Force empty element to display
.np-eu-fin:after {
  content: " ";
}
